.cards-tarot-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
    text-align: center;

    height: auto;
}

.text-descripction-cards-tarot {
    box-sizing: border-box;
    padding: 10px 0 30px 0;
    width: 100%;
}

.subtitle-cards-tarot {
    font-weight: 500;
}

.paragraph-cards-tarot {
    padding: 20px 0 40px 0;
}

.cards-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;

    /* height: 100vh; */
    perspective: 1000px;/*clave para el efecto 3D*/
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
    margin: 0 auto;/*añadido*/
    gap: 30px;
    /*problema que se superpone al footer<<<<<<*/

    height: auto;
    position: relative;
}

/* .card-tarot-s {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rebeccapurple;
} */

.card-t {
    width: 200px;
    height: 300px;
    position: relative;

    transform-style: preserve-3d;/*?*/
    transition: all 0.8s ease;/*?*/

    cursor: pointer;
}

.card-t:hover {
    transform: rotateY(180deg);
}

/*front y back*/
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden; /*ocultar cuando están de espaldas*/
}

.front {
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

.img-card {
    /* width: 200px;/ */
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: contain;
}
