.card-detail-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-content {
    padding: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-detail {
    font-weight: 500;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.subtitle-detail {
    padding: 5px 20px;
    border: 3px solid black;
    border-radius: 20px;
    color: var(--color-golden-buttons);

    background-color: #3e372de4;
}

.back-btn {
    margin: 50px 0;
}

.paragraph-detail {
    margin-bottom: 50px;
    font-style: italic;
}

@media (max-width: 431px) {
    .paragraph-detail {
        margin: 10px 30px 50px 30px;
    }
}