.accordion {
    margin: 20px 50px;
    width: 50%;
    background-color: #c7c3c3;/*cambiar tono*/
}

.accordion-options {
    padding: 0 20px;
}

/* .title-accordion {
    background-color: #b0b0b0;
} */

.title-accordion:hover {
    /* background-color: #b4b2b2; */
    background-color: #b5a898;
}

