.card-content-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
    gap: 50px;
}

.card-tarot-description, .card-scientist-description{
    background-color: var(--color-beige-darker);
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid black;
    height: 500px;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    /* flex-wrap: wrap; */
    overflow-y: scroll;
    width: 100%;
}

.title-tarot-card, .title-scientist-card {
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 15px;
}

.img-card-tarot {
    width: 200px;
}

.img-card-scientist {
    width: 400px;
}

.title-tarot, .title-scientist {
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

.description-tarot, .description-scientist {
    text-align: left;
    font-size: 13px;
    /* overflow: scroll; ver cómo hacer el scroll invisible o estilarlo*/
}