
.cards-lecture-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 12%;
    gap: 20px;
}

.box-card {
    background-color: var(--color-beige-darker);
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid black;
    height: 500px;

    /* overflow-y: scroll; */
    overflow-y: auto;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
/*scrollbar*/
.box-card::-webkit-scrollbar {
    width: 6px;
}

.box-card::-webkit-scrollbar-track {
    background: transparent;
}

.box-card::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.box-card::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4); /* un poco más visible al pasar el ratón */
}

.box-card {/*firefox*/
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.25) transparent;
}

.box-card h4 {
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 15px;
}

.box-card img {
    /* width: 200px; */
    margin: 0 auto;
}

.subtitle-lecture-tarot {
    font-weight: 500;
    font-size: 17px;
    padding: 5px;
}

.title-lecture-tarot {
    text-align: left;
    font-size: 13px;
    margin-bottom: 20px;
    /* overflow: scroll; ver cómo hacer el scroll invisible o estilarlo */
}

.btn-detalle {
    font-size: 12px;
    padding: 10px 15px;
    margin-top: 20px;
}