.card-content-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
    gap: 50px;
}

.card-tarot-description, .card-scientist-description{
    /* background-color: burlywood; */
    background-color: var(--color-beige-darker);
    text-align: center;
    padding: 50px 40px;
    border-radius: 10px;
    height: 650px;
}

.title-tarot-card, .title-scientist-card {
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 15px;
}

.img-card-tarot, .img-card-scientist {
    width: 200px;
}

.title-tarot, .title-scientist {
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

.description-tarot, .description-scientist {
    text-align: left;
    /* overflow: scroll; ver cómo hacer el scroll invisible o estilarlo*/
}