:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ---Fondo base--- */
  --color-beige-lunar: #d5bfa2;
  /* Color texto */
  --color-deep-black: #0e0c0c;
  /* Navbar y footer */
  --color-shadow-black: #1f1f1f;
  --color-text-nav-footer: #F8F8F2;

  /* ---Botones--- */
  --color-golden-buttons: #d4af37;
  /* Texto secundario o botones secundarios */
  --color-rocket-grey: #3c3c3c;
  /* Fondo de sección tarjetas indi detatalle */
  --color-beige-darker: #bc9e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* flex-direction: column; */

  place-items: center;
  min-height: 100vh;
  /*falta el font-family*/
  background-color: var(--color-beige-lunar);/*prueba*/
}

#root {
  background-color: var(--color-beige-lunar);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  width: 100%;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
} */

